
header {
    background-color:rgb(134, 79, 6);
    font-family:Verdana;
    color:white;
    padding-top: 2%;
    }
h1{
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: white;
}
h2 {
    text-align: center;
    color: yellow;
    }
p {
color:thistle;
font-family: 'Times New Roman';
}
li{
    list-style: none;
    font-size: 20px;
    }
footer{
    background-color: yellow;
}

.p1{
    text-align: center;
}